extends layout
block content  
  body(class='css-selector')
    //-- Header content
    header
      .profileLogo
        //-- Profile logo. Add a img tag in place of <span>.
        p.logoPlaceholder
          a(href='/')
            img(src='./images/me-logo-wht.png' alt='sample logo')
      div(id="loadingProgress" class="hide")
        div #[span(id="loadingValue") 0]%#[img(src='./images/dots.gif' height='4px' style='margin-left: 2px;' alt='loading')]
      #installation
      button(id="playAudio" class='custom-button hide2') Start Audio
      div(id="user_controls" class="hide")
        div(id="time_slider_container")
            img(src="./images/clock.png" class="icon")
            input(id='time_slider' type='range' min='0' max='1' value='1' step='0.0001')
        div(id="control_row_2")
            div(id="time_slider_accessories" style="visibility: hidden;")
                div(id="slider_accessories")
                span(id='jump_to_history' class='custom-button') 
                    img(src="./images/clock.png" class="icon")
                    div Jump to time:
                span(id='text_slider_display' class='text-style')
            div(id="vol_container")
                img(id="volumeIcon" src="./images/volume_2.png" class="icon")
                img(id="muteIcon" src="./images/mute_2.png" class="icon hide")
                div(id="volume-widget" class="hide" style="margin: 5px;")
                img(src="./images/fullscreen_2.png" id='fullscreen' class='icon')
      br
      //- Introduction
      section.profileHeader
        h1 #{copy.title}
        h3 #{copy.subtitle.toUpperCase()}
        div !{copy.introduction}
        //- Social shares
        div.socialShares
          a(href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-hashtags="TheFlameKeepers" data-show-count="false")
          div(class="fb-share-button" data-href="https://flamekeepers.metropolisensemble.org/" data-layout="button" data-size="small")
            a(target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fflamekeepers.metropolisensemble.org%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore") Share
        br
      hr
      br
      //- Current composer
      - let composer = composerInfo;
      if composer
        .profilePhoto
          //- Profile photo
          img(src=composer.photo alt='sample' id='composer-photo')
      section.profileHeader
        if composer
          h3(id='time-header') This Week&apos;s Curator
          h1(id='composer-name') #{composer.name}
          div(id='composer-bio') !{composer.bio}
        p
          a(href='/past-composers') See all our past curators &raquo;
    //- content
    section.mainContent
      //- Detailed description of the installation
      section.section1
        h2.sectionTitle How It Works
        hr.sectionTitleRule
        .section1Content
          div !{copy["how-it-works"]}
      //- Contributors to the installation
      section.section2
        h2.sectionTitle Meet The Team
        hr.sectionTitleRule
        for admin in admins
          article.section2Content
            h2.sectionContentTitle #{admin.name}
            h3.sectionContentSubTitle #{admin.role}
            div.sectionContent !{admin.description}
    
    div(id='composer-hover' class='hide')
        img(id='composer-hover-img')
        div(id='composer-hover-text')

    footer
      hr
      p.footerDisclaimer
        | &copy; 2020 Metropolis Ensemble - 
        span All Rights Reserved
      p.footerNote
        | Contact Us - 
        span #[a.customLink(target='_blank' href='mailto:info@metropolisensemble.org') Email] / #[a.customLink(target='_blank' href='https://www.instagram.com/metroensemble/?hl=en') Social]
    
    <input id="fileSwap-0" type="file" style="display: none;" />
    <input id="fileSwap-1" type="file" style="display: none;" />
    <input id="fileSwap-2" type="file" style="display: none;" />
    <input id="fileSwap-3" type="file" style="display: none;" />
    <input id="fileSwap-4" type="file" style="display: none;" />
    <input id="fileSwap-5" type="file" style="display: none;" />
    <input id="fileSwap-6" type="file" style="display: none;" />
    
    //- expose server provided variables to main script
    script(nonce=nonce).
      let returns = JSON.parse(`!{fileNames}`);
      let audioData = JSON.parse(`!{audio}`);
      let allComposers = JSON.parse(`!{allComposers}`);
      let isComposer = document.location.pathname == "/composer";
      let timestamp = !{timestamp};
      let firstEntry = !{firstEntry};

    script(nonce=nonce src='./javascript/dat.gui.min.js')
    script(nonce=nonce src='./javascript/Tone.js')
    script(nonce=nonce src="https://code.jquery.com/pep/0.4.3/pep.js")
    script(nonce=nonce src='./javascript/volumeWidget.js')
    script(nonce=nonce src='./javascript/index.js')
