extends layout
block content  
  body(class='css-selector')
    //-- Header content
    header
      .profileLogo
        //-- Profile logo. Add a img tag in place of <span>.
        p.logoPlaceholder
          img(src='./images/me-logo-wht.png' alt='sample logo')      
      #installation  
        div(id="time_slider_div" class="hide")
          input(id='time_slider' type='range' min='0' max='1' value='1' step='0.0001')
          br
          button(id='jump_to_history') Jump to time:
          span(id='text_slider_display')      
        button(id="fullscreen" class='hide') Fullscreen

        button(id="beginButton") BEGIN
      
      //- Header
      section.profileHeader
        h1 #{copy.title[0]}
        h3 #{copy.subtitle[0].toUpperCase()}
        for paragraph in copy.introduction
          p #{paragraph}
        br
      hr
      br
      br
      br
      - let composer = composerInfo;
      .profilePhoto
        //- Profile photo
        img(src=composer.photo alt='sample' id='composer-photo')
      
      //- TODO history - populate profile info from template
      section.profileHeader
        h3(id='time-header') This Week&apos;s Curator
        h1(id='composer-name') #{composer.name}
        p(id='composer-bio') #{composer.bio}
        p
          a(href='/past-composers') See all our past curators &raquo;
    //- content
    section.mainContent
      //- Detailed description of the installation
      section.section1
        h2.sectionTitle How It Works
        hr.sectionTitleRule
        hr.sectionTitleRule2
        .section1Content
          for paragraph, i in copy['how-it-works']
            //- expects subtitle, paragraph, empty line
            if i % 3 === 0
              p.sectionContentTitle #{paragraph}
            else
              p.sectionContent #{paragraph}
      //- Contributors to the installation
      section.section2
        h2.sectionTitle Meet The Team
        hr.sectionTitleRule
        hr.sectionTitleRule2
        for admin in admins
          article.section2Content
            h2.sectionContentTitle #{admin.name}
            h3.sectionContentSubTitle #{admin.role}
            p.sectionContent #{admin.description}
    footer
      hr
      p.footerDisclaimer
        | &copy; 2020 Metropolis Ensemble - 
        span All Rights Reserved
      p.footerNote
        | Contact Us - 
        span Email / Social
    
    //- expose server provided variables to main script
    script(nonce=nonce).
      let returns = JSON.parse(`!{fileNames}`);
      let audioData = JSON.parse(`!{audio}`);
      let isComposer = document.location.pathname == "/composer";
      let timestamp = !{timestamp};
      let firstEntry = !{firstEntry};

    script(nonce=nonce src='./javascript/dat.gui.min.js')
    script(nonce=nonce src='./javascript/composer.js')
