extends layout2
block content
  body(class='css-selector')
    header
      .profileLogo
        //-- Profile logo. Add a img tag in place of <span>.
        p.logoPlaceholder
          img(src='./images/me-logo-wht.png' alt='sample logo')      
      .installation
        
                 
        section.profileHeader
          h1 The FlameKeeper
          h3 A LIVE STREAMING ART INSTALLATION&nbsp;
          p
            | Introductory text about the project goes here. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in.
          br
        hr
        br
        br
        br
        - let composers = composerInfo;             
        each composer in composers ? composers : ['NO!!!']                                 
          if (composer.id != '0')
            - let photoSrc = composer.photo                           
            .profilePhoto
              //- Profile photo
              img(src=`${photoSrc}` alt='sample logo')
            //- Identity details
            section.profileHeader
              h3 
              h1 #{composer.name}
              p
                | !{composer.bio}
              if composer.history.length > 0
                p 
                    | Select a snapshot to jump back to:
              each h in composer.history
                a(href='/?history='+h[0] class='custom-button') !{h[1]+1}
              p

  script(nonce=nonce).

    function jumpToSnapshot(e) {
      let composerId = e.target.id.split("_")[1];
      let selector = document.getElementById("selector_"+composerId);
      let timeValue = selector.value;
      if(timeValue == "Snapshots") {
        alert("Please pick a snapshot to jump to!")
      } else {
        let historyURL = document.location.origin + "?history="+timeValue;
        document.location = historyURL;
      }
    }
    let buttons = document.getElementsByTagName('button');
    for(button of buttons) {
      button.addEventListener('click', jumpToSnapshot);
    }
                        
          
          
                        
              

              
                