extends layout
block content
  body(class='css-selector')
    header
      .profileLogo
        //-- Profile logo. Add a img tag in place of <span>.
        p.logoPlaceholder
          img(src='./images/me-logo-wht.png' alt='sample logo')      
      .installation
        
                 
        section.profileHeader
          h1 The FlameKeeper
          h3 A LIVE STREAMING ART INSTALLATION&nbsp;
          p
            | Introductory text about the project goes here. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in.
          br
        hr
        br
        br
        br
        - let composers = composerInfo;             
        each composer in composers ? composers : ['NO!!!']                                 
          if (composer.id != '0')
            - let photoSrc = composer.photo                           
            .profilePhoto
              //- Profile photo
              img(src=`${photoSrc}` alt='sample logo')
            //- Identity details
            section.profileHeader
              h3 
              h1 #{composer.name}
              p
                | #{composer.bio}
                span(class='snapshot-selector')
                    span Select a snapshot to jump back to:
                    select(id='selector-!{composer.composerID}')
                        option(value="Snapshots") Snapshots:
                        each h in composer.history
                            option(value=h[0]) !{h[1]}
                    button(id='button-!{composer.composerID}') Jump to Snapshot
              p

  script(nonce=nonce).
            
    //- function submitForm(form) {      
    //-   const snapValue = document.getElementById(`selectBox${form}`).value   
    //-   const snapForm = document.getElementById(`historyForm${form}`);                   
    //-   snapForm.action = `/history/${snapValue}`
    //-   snapForm.submit();

    //- }
                        
          
          
                        
              

              
                